@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MYRIADPROREGULAR.ttf') format('woff'),
    url('../fonts/MYRIADPROREGULAR.ttf') format('truetype');
}
@font-face {
    font-family: 'proximanovalight';
    src: url('../fonts/proximanovalight.ttf') format('woff'),
    url('../fonts/proximanovalight.ttf') format('truetype');
}
[ng\:cloak],[ng-cloak]{
    display: none !important;
}
body {
    height: 100%;
    background: #f5f5f5;
}
.planner-block {
    margin-top: 0px;
}
.row-centered {
    text-align:center;
}
.offVal {
    display: none !important;
}
.col-centered {
    display:inline-block;
    float:none;
    /* inline-block space fix */
    margin-right:-2px;
}
.form-area-inner,.form-planner-inner {
    margin-bottom: 10px;
    font-family: "Myriad Pro";
}
.event-planner-outer {
    margin-bottom: 10px;
    font-family: "Myriad Pro";
}
.form-planner-inner,.event-planner-outer {
    max-height:900px;
    position: relative;
    top:10px;
    float: left;
}
.col-md-6 {
    display: inline-block;
    -webkit-box-shadow: 3px 4px 8px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 8px -4px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 8px -4px rgba(0,0,0,0.75);
}
.form-area-inner {
    max-height:420px;
    position: relative;
    top:10px;
}
.form-planner-inner h3,.form-area-inner h3,.event-planner-outer h3 {
    font-family: proximanovalight;
}
.form-text {
    font-size: 1.5em;
    text-align: center;
    position: relative;
    top:10px;
}
.seperator {
    position: relative;
    top:-15px;
}
.event-table td,th,tr {
    padding-left: 5px;
    padding-top: 5px;
    text-align: center !important;
    height: 35px;
}
.event-table {
    width: 100%;
}
.eventNew {
    cursor: pointer;
}
.eventActive caption a{
    color:#0f0f0f !important;
}
.eventActive {
    text-align: center;
    max-height: 210px;
    width: 100%;
}
.eventActive span {
    text-align: center;
    position: relative;
    right: 5px;
    color: #1b6d85;
}
.eventActive table {
    width: 100%;
    padding-left: 5px;
    text-align: left;
}
.dropdown-backdrop {
    position: static;
}
.form-planner-inner address {
    position: relative;
    top:15px;
    color: #3c3c3c;
}
input[type="radio"] {
    position: relative;
    top:2px;
}
.navbar a{
    color:#fff !important;
}
.navbar {
    background: #DE304F;
}
.filter {
    position: relative;
    top:8px;
    right: 13px;
}
.filterc {
    position: relative;
    top:8px;
    right: 10px;
}